th a {
  color: black;
  text-decoration: none;
}

.avatar-user_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 8px;
}

img {
  object-fit: cover;
}